<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" name="kafka-logs" packages="com.eshop.userservice">
    <Appenders>
        <Kafka name="Log" topic="log">
            <PatternLayout pattern="%date %message"/>
            <Property name="bootstrap.servers">localhost:9092</Property>
            <Property name="num.partitions">5</Property>
    		<Property name="replication.factor">3</Property>
            <Property name="security.protocol">SSL</Property>
            <Property name="ssl.endpoint.identification.algorithm"></Property>
            <Property name="ssl.keystore.location">../configuration-service/ssl/keystore.jks</Property>
            <Property name="ssl.keystore.password">password</Property>
            <Property name="ssl.truststore.location">../configuration-service/ssl/truststore.jks</Property>
            <Property name="ssl.truststore.password">password</Property>
        </Kafka>
        
        <Kafka name="CustomerRegistration" topic="customer-registration">
			<PatternLayout pattern="%date %message"/>
			<Property name="bootstrap.servers">localhost:9092</Property>
			<Property name="num.partitions">5</Property>
    		<Property name="replication.factor">3</Property>
            <Property name="security.protocol">SSL</Property>
            <Property name="ssl.endpoint.identification.algorithm"></Property>
            <Property name="ssl.keystore.location">../configuration-service/ssl/keystore.jks</Property>
            <Property name="ssl.keystore.password">password</Property>
            <Property name="ssl.truststore.location">../configuration-service/ssl/truststore.jks</Property>
            <Property name="ssl.truststore.password">password</Property>
		</Kafka>
		
		<Kafka name="AdminCreation" topic="admin-creation">
			<PatternLayout pattern="%date %message"/>
			<Property name="bootstrap.servers">localhost:9092</Property>
			<Property name="num.partitions">5</Property>
    		<Property name="replication.factor">3</Property>
            <Property name="security.protocol">SSL</Property>
            <Property name="ssl.endpoint.identification.algorithm"></Property>
            <Property name="ssl.keystore.location">../configuration-service/ssl/keystore.jks</Property>
            <Property name="ssl.keystore.password">password</Property>
            <Property name="ssl.truststore.location">../configuration-service/ssl/truststore.jks</Property>
            <Property name="ssl.truststore.password">password</Property>
		</Kafka>
        
        <Async name="Async">
            <AppenderRef ref="Log"/>
            <AppenderRef ref="CustomerRegistration"/>
            <AppenderRef ref="AdminCreation"/>
        </Async>

        <Console name="stdout" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5p [%-7t] %F:%L - %m%n"/>
        </Console>
        
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Log"/>
            <AppenderRef ref="CustomerRegistration">
        		<Filters>
          			<RegexFilter regex="^.*Send confirm registration email.*$" onMatch="ACCEPT" onMismatch="DENY" />
        		</Filters>
      		</AppenderRef>
      		<AppenderRef ref="AdminCreation">
        		<Filters>
          			<RegexFilter regex="^.*Send complete registration email.*$" onMatch="ACCEPT" onMismatch="DENY" />
        		</Filters>
      		</AppenderRef>
      		<AppenderRef ref="stdout"/>
        </Root>
        <Logger name="org.apache.kafka" level="WARN" />
    </Loggers>
</Configuration>