<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" name="kafka-logs" packages="com.eshop.storageservice">
    <Appenders>
        <Kafka name="Kafka" topic="log">
            <PatternLayout pattern="%date %message"/>
            <Property name="bootstrap.servers">localhost:9092</Property>
            <Property name="security.protocol">SSL</Property>
            <Property name="ssl.endpoint.identification.algorithm"></Property>
            <Property name="ssl.keystore.location">../configuration-service/ssl/keystore.jks</Property>
            <Property name="ssl.keystore.password">password</Property>
            <Property name="ssl.truststore.location">../configuration-service/ssl/truststore.jks</Property>
            <Property name="ssl.truststore.password">password</Property>
        </Kafka>
        <Async name="Async">
            <AppenderRef ref="Kafka"/>
        </Async>

        <Console name="stdout" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5p [%-7t] %F:%L - %m%n"/>
        </Console>

    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Kafka"/>
            <AppenderRef ref="stdout"/>
        </Root>
        <Logger name="org.apache.kafka" level="WARN" />
    </Loggers>
</Configuration>